.sr-comparison-table {
  width: 100%;

  .table-head-row {
    background: #fbfbfb;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0em;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .table-head-cell {
      padding: 10px;
    }
  }

  .table-data-row {
    margin: 12px 0;
    box-shadow: 0px 3px 8px rgba(12, 35, 64, 0.1);
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      background: #25cca8;
      box-shadow: 0px 3px 5px rgba(12, 35, 64, 0.1);
      border-radius: 6px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #ffffff;
    }
  }

  .align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  [class*="column-number"] {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .table-head-row {
      font-size: 11px;
      line-height: 15px;
    }

    .table-data-row {
      height: 60px;
    }

    .column-logo {
      width: 100px;

      img {
        width: 70px;
        height: 25px;
        object-fit: contain;
      }
    }

    .column-cta,
    .column-number-0 {
      display: flex;
      width: 120px;
    }

    button {
      height: 30px;
      width: 100px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .table-head-row {
      font-size: 14px;
      line-height: 24px;
    }

    .table-data-row {
      height: 55px;
    }

    .column-cta {
      width: 110px;
    }

    button {
      height: 30px;
      width: 92px;
    }

    .column-logo {
      img {
        width: 100px;
        height: 35px;
        object-fit: contain;
      }
    }

    .column-number-0,
    .column-number-1,
    .column-number-2,
    .column-logo {
      display: flex;
      width: 137px;
    }
  }

  @media only screen and (min-width: 1024px) {
    /* For desktops: */

    .table-head-row {
      font-size: 16px;
      line-height: 24px;
      padding: 0 15px;
    }

    .table-data-row {
      height: 65px;
      padding: 0 15px;
    }

    button {
      height: 40px;
      width: 170px;
    }

    .column-logo {
      img {
        width: 100px;
        height: 35px;
        object-fit: contain;
      }
    }

    .column-number-0,
    .column-number-1,
    .column-number-2,
    .column-number-3,
    .column-logo,
    .column-cta {
      display: flex;
      width: 170px;
    }
  }
}
