.flex {
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 10rem calc(100% - 29rem) 15rem;
  grid-template-areas: "award performer-info provider";

  &.card {
    border-radius: 0.25rem;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
      0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  }

  img {
    &.award {
      grid-area: award;
    }
    &.provider {
      grid-area: provider;
    }
  }

  .performer-info {
    grid-area: performer-info;
    p {
      margin: 1rem 0;
      font-style: normal;
      &.title {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        /* Blue / Dark Blue */
        color: #006098;
        margin-bottom: 0;
        &::after {
          content: url("/underline.svg");
          display: block;
          position: relative;
          height: 0.25rem;
          top: -1rem;
        }
      }

      &.provider {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 2.625rem;
        /* Neutrals / Black */
        color: #212121;
        margin-top: 0;
      }

      &.description {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        /* Neutrals / Black */
        color: #212121;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    column-gap: 1rem;
    align-items: start;
    grid-template-rows: 6rem;
    grid-template-columns: 6rem calc(100% - 8rem);
    grid-template-areas:
      "award performer-info"
      "provider performer-info";
  }
}
